/* Top Header */
.top-header{
    background-color: white;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0; 
}
#logo{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
.menu-left, .menu-right{
    display: inline-block;
}
.top-header ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
}
.top-header ul a{
    text-decoration: none;
    color: #000;
    line-height: 70px;
    font-size: 15px;
}
.menu-right li:last-child a{
    color: white;
}
.btn:hover{
   filter: brightness(1.8);
}
   
/****JUMBOTRON****/
.jumbotron{
    height: 680px;
    background-color: #B4D0E7;
}
#jumbo-title{
    height: 40%;
    padding-top: 65px;
    margin-bottom: 30px;
}
#jumbo-title h1{
    font-size: 76px;
    line-height: 100px;
    font-weight: 900;
}
#jumbo-text{
    background-color: #B4D0E7;
    padding-top: 10px;
    padding-right: 52px;
}
#jumbo-text p{
    margin-bottom: 30px;
}
#jumbo-text a{
    display: inline-block;
    margin-bottom: 10px;
}
#jumbo-text i{
    display: inline-block;
    font-size: 40px;
}
#jumbo-image{
    background-color: #B4D0E7;
    padding-top: 10px;
    position: relative;
}
#jumbo-image img{
    width: 100%;
    position: absolute;
    right: -10px;
}
/************************/

/******SECTION CHOOSE PLANE******/
/* Division of columns */
.col-30{
    width: calc(100% / 3 - 40px);
    margin: 0 20px;
    float: left;
}
.row{
    margin: 0px -20px;
}
/* General choose plane */
.choose-plane{
    margin-top: 170px;
}
.title-paragraph{
    height: 10%;
    margin-bottom: 30px;
}
.radio{
    height: 5%;
    margin-bottom: 25px;
}

/* Inside column */
.it-col{
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-bottom: 1px solid #d3d3d6;
}
.col-title>*{
    margin-bottom: 10px;
}

.functions ul{
    list-style-type: none;
    list-style-position: outside;   
}
.important-point ul{
    list-style-image:url('../img/check-solid.svg');
    list-style-position: outside;   
}
.col-30 li{
    margin-bottom: 12px;
    
}
.col-30 li>*{
    font-size: 13px;
    line-height: 13px;
    vertical-align: baseline;
}
.column-btn .or {
    display: inline-block;
}
.col-30 hr{
    display: inline-block;
    width: 45px;
}

/****SECTION ENTERPRISE****/
.enterprise{
    height: 200px;
    margin-top:40px;
    margin-bottom: 140px;   
}
.enterprise .enterprise-title {
    padding:20px 25px;
}

/****SECTION PARTNER****/
.partner .partner-text{
    margin-top: 20px;
    padding-left: 40px;
}
.partner-text>*{
    margin-bottom: 20px;
}
.partner-text a{
    padding: 7px 18px;
    color: #000;
    text-decoration: none;
    border: 1px solid black;
}

/****SECTION MORE OPERATIONS****/
 h2{
    font-size: 2.5em;
}

/****SECTION TEAM MEMBERS****/
.team-members .banner{
    height: 450px;
} 
.banner>*{
    float: left;
}
.banner-square{
    float:left;
    width: 50%;
    height: 50%;
    position: relative;
}
.banner-column-center{
    width: 40%;
    height: 450px;
    padding: 30px;
}
.banner-column-side{
    width: 30%;
    height: 450px;
}

/* inside banner */
.banner-square img{
    width: 150px;
    height: 75px;
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: contain;
}
.banner-column-center img{
    width: 150px;
    height: 75px;     
}
.banner-square{
    border: none;
    transition: border 1s 1ms;
}
.banner-square:active{
    border: 10px solid whitesmoke;
}

/****DROPBOX IN COMPANY*****/
.free-trial{
    background-color:#B4D0E7;
    color: #61082B;
    height: 325px;
}
.trial-title{
    width: 60%;
    height: 325px;
    position: relative;   
}
.trial-title h2{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    font-size: 48px;
}
.trial-button{
    width: 40%;
    height: 325px;
    position: relative;
}
.trial-button a{
    display: inline-block;
    position: absolute;
    top: 40%;
    right: 20px;
    transform: translate(0,-50%);
    background-color: white;
    color: #000;
}

/****REQUESTS****/
.requests{
    height: 625px;
    padding: 120px 0;
   
}
.requests .ask{
    height: 85px;
}
.requests .ask span{
    line-height: 85px;
    width: 95%;
    display: inline-block;
    font-weight: bold;
}

/****FOOTER****/
footer{
    height: 450px;
    margin: 0;
    background-color: #000;
    color:white;
    padding: 90px 0;
}
footer ul li{
    list-style: none;
    font-size: 13px;
    margin-bottom: 10px;
}
footer .container-big .col-20{
    margin-bottom: 40px;
}
footer hr{
    display: inline-block;
    height: 1px;
    width: 10%;
    background-color: #666666;
    color: #666666;
}
footer .footer-bottom{
    margin-top: 40px;
    font-size: 13px;
    color: #666666;;
}

/* Border and padding-top Standard */
.choose-plane .col-30, .enterprise .container-small{
    border: 1px solid #d3d3d3;
}
.col-title, .important-point, .enterprise-title{
    padding-top:20px;
}